body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #d14343; /* Optional: Set a background color for the page */
}

.new-qt-btn{
  padding: 15px 20px;
  font-size: 18px;
  font-family: cursive;
  
  /* font-weight: bold; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 5px;
  color: #000000;
  background-color: antiquewhite;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #3498db;
  color: #ffffff;
  transform: scale(1.1);
}